<mat-card *ngIf="note">
    <mat-card-header>
      <mat-card-title>{{note.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{note.description}}
    </mat-card-content>
</mat-card>

