<h2 mat-dialog-title>{{note.title}}</h2>

<mat-dialog-content >
   {{note.description}}
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>


