<mat-card>
    <mat-card-header>
        <mat-card-title>Add Note</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (submit)="onSubmit($event)">
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Title"class="form-control" type="text" id="title" 
                    [(ngModel)]="note.title" name="title"  #title="ngModel">
                </mat-form-field>
                <!-- <label for="title">Title:</label>
                <input class="form-control" type="text" id="title" 
                [(ngModel)]="note.title" name="title"  #title="ngModel">  -->
            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput class="form-control" type="text" id="descritpion" 
                    [(ngModel)]="note.description" name="description"  #descritpion="ngModel"></textarea>
                </mat-form-field>
                <!-- <label for="descriprion" > Description </label>
                <input  class="form-control" type="text"id="descritpion" 
                [(ngModel)]="note.description" name="description"  #descritpion="ngModel">  -->
            </div>
            <button mat-raised-button type="submit" class="btn btn-success" >Submit</button>
        </form>
    </mat-card-content>
</mat-card>

